@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Poppins:wght@300;700&display=swap");

div {
  display: block;
}
#logo {
  text-align: center;
  padding: 10px;
}

#logo .inner {
  margin: 40px 0 40px 0;
  display: inline-block;
}

logo {
  position: block;
  width: 100%;
  height: 150px;
  left: 0px;
  top: 0px;
}

logo img {
  width: 700px;
}

body {
  background-color: rgba(45, 120, 233, 0.68);
}

content {
  display: block;
  background-color: white;
  width: 90%;
  height: 1450px;
  margin: auto;
  border-radius: 10px;
}

content h1 {
  display: block;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 75px;
  text-align: center;
  text-decoration-line: underline;
  padding: 20px;

  color: #000000;
}

nav {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 34px;
  /* identical to box height */

  display: block;
  margin-left: 60px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  /* margin: 0 7% 10% 0%; */
  overflow: hidden;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  width: 150px;

  background-color: rgba(45, 120, 233, 0.68);
  border-radius: 15px;
  margin-left: 20px;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover,
add li a:hover {
  background-color: rgb(54, 136, 212);
}

add {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 34px;
  /* identical to box height */
  margin-inline-start: 34%;
  writing-mode: horizontal-tb;
}

add ul {
  list-style-type: none;
  padding: 0;
  /* margin: 0 7% 10% 0%; */
  overflow: hidden;
}

add li {
  float: right;
}

add li a {
  display: block;
  color: black;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  width: 300px;

  background-color: rgba(45, 120, 233, 0.68);
  border-radius: 15px;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
}

table {
  margin: auto;
  font-family: "Poppins";
  font-style: normal;
  text-align: center;

  border-radius: 15px;
  border-color: rgba(22, 100, 218, 0.68);
}

.footer {
  position: absolute;
  width: 100%;
  height: auto;
  top: 1697px;
  left: 0;
}

.footerlogo {
  margin: 70px 0px 0px 200px;
}

.footerlogo img {
  display: absolute;
  width: 437px;
}

address span {
  display: block;
}
address span strong {
  display: inline-block;
}

.contact h3 {
  width: 467px;
  left: 887px;
}

address {
  position: absolute;
  height: 30px;
  left: 787px;
  top: 25px;

  color: #ffffff;
  line-height: 30px;
  text-align: center;
}

address h1 {
  font-family: "poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;

  text-align: center;
}

address h3 {
  font-family: "poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

address a {
  color: #ffffff;
}

.container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-top: 200px;

  color: #ffffff;
}

.text-center {
  text-align: center;
}
