div {
  display: block;
}
#logo {
  text-align: center;
  padding: 10px;
}

#logo .inner {
  margin: 40px 0 40px 0;
  display: inline-block;
}

logo {
  position: absolute;
  width: 100%;
  height: 150px;
  left: 0px;
  top: 0px;
  background: rgba(45, 120, 233, 0.68);
}

input[type="button"] {
  position: absolute;
  width: 165px;
  height: 81px;
  left: 1241px;
  top: 35px;

  background: #bc0909;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 11px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-align: center;

  color: #000000;
}

nav {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 34px;
  /* identical to box height */

  display: block;
  margin-bottom: 20px;

  position: absolute;
  width: 100%;
  height: 59px;
  left: 0px;
  top: 150px;

  background: #2d78e9;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0 7% 10% 0%;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: rgb(54, 136, 212);
}
